{% extends 'layouts/base.html.twig' %}

{% block title %}
	{{'Reset password - Titouan Thd'|trans}}
{% endblock %}

{% block header %}
	{# Empty block needed to remove default_header #}
{% endblock %}
{% block footer %}
	{# Empty block needed to remove default_footer #}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center vh-100">
			<div class="col-12 col-md-6 col-lg-4">

				<div class="card">
					<div class="card-body">
						<h1 class="h3 mb-3">{{'Reset password'|trans}}</h1>
						{{ component('flashes') }}
						{{ form_start(resetPasswordForm) }}
						{{ form_row(resetPasswordForm.password) }}
						<button type="submit" class="btn btn-primary">{{'Submit'|trans}}</button>
						{{ form_end(resetPasswordForm) }}
						<div class="mt-2">
							<a href="{{ path('app_login') }}">{{'Back to login'|trans}}</a>
						</div>

						<p class="mt-3 mb-0">{{'© 2022 Company, Inc. All rights reserved.'|trans}}</p>

					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
