{% extends 'layouts/base.html.twig' %}

{% block title %}
	{{ 'User Profile - Titouan Thd'|trans }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container header-margin">
		<h1>{{'User Profile'|trans}}</h1>
		{{ component('flashes') }}
	</div>
{% endblock %}
