<h1>{{'Hi! you ask me to reset your password !'|trans}}</h1>

<p>{{'You can reset your password by clicking on the link below:'|trans}}</p>

<a href="{{ url|raw }}" target="_blank">{{'Reset password link'|trans}}</a>

<p>{{'Thanks!'|trans}}</p>