<header {{ attributes }}>
	<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom fixed-top">
		<div class="container">
			<a class="navbar-brand" href="{{path('app_home')}}">
				titouanthd.com
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="documentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Tools
						</a>
						<ul class="dropdown-menu" aria-labelledby="documentDropdown">
							<li>
								<a class="dropdown-item" href="{{ path('app_cv_builder') }}">CV Builder</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">Cover letter builder</a>
							</li>
						</ul>
					</li>
					{# <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="blogDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Blog
						</a>
						<ul class="dropdown-menu" aria-labelledby="blogDropdown">
							<li>
								<a class="dropdown-item" href="#symfony">Symfony</a>
							</li>
							<li>
								<a class="dropdown-item" href="#wordpress">WordPress</a>
							</li>
						</ul>
					</li> #}
				</ul>
				{# <span class="navbar-text me-3">
					<i class="bi bi-search"></i>
					Rechercher...
				</span>
				<span class="navbar-text me-3">
					Dark | Light
				</span> #}
				{% if app.user %}
					<!-- user dropdown -->
					<div class="dropdown">
						<a class="dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ app.user.email }}
						</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
							<li>
								<a class="dropdown-item" href="{{path('app_profile')}}"><i class="bi bi-person-lines-fill me-2"></i> Profile</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-left me-2"></i> Log out</a>
							</li>
						</ul>
					</div>
				{% else %}
					<span class="navbar-text">
						<a href="{{path('app_login')}}">Sign in</a>
						|
						<a href="{{path('app_register')}}">Register</a>
					</span>
				{% endif %}

			</div>
		</div>
	</nav>
</header>
