{% set currentRoute = app.request.attributes.get('_route') %}
{% set currentUrl = path(app.request.attributes.get('_route')	, app.request.attributes.get('_route_params')) %}

<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom fixed-top">
		<div class="container">
			<a class="navbar-brand" href="{{path('app_home')}}">
				titouanthd.com
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link {% if currentRoute == 'app_home' %}active{% endif %}" aria-current="page" href="{{path('app_home')}}">{{'Home'|trans}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if '/blog/' in currentUrl %}active{% endif %}" aria-current="page" href="{{path('app_blog_index')}}">{{'Blog'|trans}}</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link {% if currentRoute == 'app_my_cv' or currentRoute == 'app_my_covering_letter' %}active{% endif %} dropdown-toggle" id="documentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{'Documents'|trans}}
						</a>
						<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="documentDropdown">
							<li>
								<a class="dropdown-item {% if currentRoute == 'app_my_cv' %}active{% endif %}" href="{{ path('app_my_cv') }}">{{'My CV'|trans}}</a>
							</li>
							<li>
								<a class="dropdown-item {% if currentRoute == 'app_my_covering_letter' %}active{% endif %}" href="{{ path('app_my_covering_letter') }}">{{'My Covering letter'|trans}}</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{'Language'|trans}}
						</a>
						<ul data-controller="LocalSwitch" class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
							<li>
								<button data-localswitch-target="french" data-action="click->LocalSwitch#switch" data-language="fr" class="dropdown-item {% if '/fr/' in currentUrl %}active{% endif %}">{{'French'|trans}}</button>
							</li>
							<li>
								<button data-localswitch-target="english" data-action="click->LocalSwitch#switch" data-language="en" class="dropdown-item {% if '/en/' in currentUrl %}active{% endif %}">{{'English'|trans}}</button>
							</li>
						</ul>
					</li>
					{% if app.user %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								{{ app.user.pseudo }}
							</a>
							<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
								{% if is_granted('ROLE_ADMIN') %}
								<li>
									<a class="dropdown-item" href="{{path('admin_index')}}">
										<i class="bi bi-gear me-2"></i>
										{{'Go back'|trans}}</a>
								</li>
								{% endif %}
								<li>
									<a class="dropdown-item" href="{{path('app_profile')}}">
										<i class="bi bi-person-lines-fill me-2"></i>
										{{'Profile'|trans}}</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('app_logout') }}">
										<i class="bi bi-box-arrow-left me-2"></i>
										{{'Log out'|trans}}</a>
								</li>
							</ul>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_login')}}">{{'Sign in'|trans}}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_register')}}">{{'Register'|trans}}</a>
						</li>
					{% endif %}
				</li>
			</ul>
		</div>
	</div>
</nav></header>
